@font-face {
  font-family: 'Oswald';
  src: url('Oswald-Regular.eot'); /* IE9 Compat Modes */
  src: url('Oswald-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Oswald-Regular.woff') format('woff'), /* Modern Browsers */
       url('Oswald-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Oswald-Regular.svg#d67d554191d502d9670fbfbb34cee6cd') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

