body {
  background: $white;
  font-size: 1rem;
}

code {
  font-family: Courier, monospace;
  font-size: 12px;
}

.logo{
  margin: 0 auto;
  width: 40%;
  text-align: center;
  img{
    text-align: center;
    width: 20em;
    padding: 2em;
  }
}

.whiteLogo{
  img{
    background-color: $grey;
  }
}

h1 {
  width: 40%;
  font: 3em/1.5 Oswald;
  text-align: left;
  color: $grey;
  padding: 0 0 0 .3em;
  text-transform:uppercase;
  display: inline-block;
  vertical-align: top;
}

h2{
  font: 1.5em Oswald;
  text-align: left;
  line-height: 3;
  color: $grey;
  text-transform:uppercase;

}

a {
  display: inline-block;
  padding: 0 1em;
}

footer {
  line-height: 3em;
  font-size: .8em;
  background-color: $grey;
  color: $white;
  font-family: Oswald;
  text-align: center;
  text-transform:uppercase;
  a{
    color: $white;
    text-decoration: none;
  }
}

nav{
  a{
      font-family: Oswald;
      color: $grey;
      font-size: 0.8em;
      text-transform:uppercase;
      text-decoration: none;
    }
    a:hover{
      color: $nav-hover;
}
}

.font-primary{
  font-family: $font-primary;
}

.font-links-nav{
  font-family: $font-links-nav;
}

.font-blog-heading{
  font-family: $font-blog-heading;
}

.time-stamp{
  font-family: sans-serif;
}

.footer{
  font-family: sans-serif;
}

.fonts{

}

.headings{

}

.weights{

}

pre{
  white-space: pre;
}

// section:last-of-type h2{
//   color: red;
// }
