body {
  background: $cream;
  font-size: 1rem;
}

.rapture {
  font-family: $font-katie, $font-rapture, helvetica;
  font-size: 9rem;
  letter-spacing: 8px;
  text-shadow: 12px 2px 0px #f00;
}

code {
  font-family: Courier, monospace;
  font-size: 12px;
}
