@include box-sizing(border-box);

//-Sectioning Elements-----------------

body {
  background: $white;
  font-size: 1em;
}

header {
  width: 100%;
  background: $white;
  @include media($desktop) {
    background: $grey;
    color: $grey;
    h1{
      color: $white;
      display: inline;
      // margin-left: 1em;
      display: inline-block;
      background-color: pink;
      margin-left: 1em;
      // @include span-columns(6);
    }
  }
  @include media($tablet) {
    color: $grey;
    h1{
      text-align: center;
    }
  }
}

nav {
  width: 100%;
  background: $grey;
  text-align: center;
  @include media($desktop) {
    background: teal;
    color: $grey;
  }

  a {
    font-family: Oswald;
    color: $white;
    text-transform: uppercase;
    margin: 0 5px;
    padding: .2em;
    line-height: 2;
    &:hover {
      color: #888;
    }
  }
}

footer {
  background: $grey;
  font-size: 1em;
  line-height: 2;
  text-align: center;
  font-family: Oswald;
  text-transform: uppercase;
  a {
    color: $white;
    }
}
//-------------------------------



//-Typography--------------------

.titles{
  font-family: Oswald;
  text-transform: uppercase;
}

h1 {
  @extend .titles;
  text-align: center;
  color: $grey;
  font-size: 3em;
  line-height: 1.5;
}

h2 {
  @extend .titles;
  font-size: 1.5em;
  // background-color: #888 ;
  color: $grey;
  border-top: em(2) solid $grey;
  border-bottom: em(2) solid $grey;
  padding-left: .5em;
  line-height: 1.5em;
  // text-align: center;
  @include media($desktop) {
    border: 0;
  }
  @include media($tablet) {
    border: 0;
  }
}

h3{
  @extend .titles;
  font-size: 1em;
  margin: 1em 0 0 0;
}

a {
  text-decoration: none;
}

//-------------------------------

.swatch{
  li{
    // border-radius: 100%;
    height: 9em;
    width: 9em;
    text-align: center;
    font-family: Courier;
    border: 1px #F0F0F0 solid;
    // There maybe a better solution to get multi lines of text to horizontaly center.
    display: table;
    float: left;
    margin:.5em;
    @include media($desktop) {
      //@include span-columns(6);
      border-radius: 0;
      //margin: .5;
      height: 8em;
      width: 13em;
      float: none;
      display: inline-block;
      span {
        padding: 0;
        margin: 0;
        line-height: 8;
        display: inline-block;
      }
    }
    @include media($tablet) {
      //@include span-columns(6);
      border-radius: 0;
      //margin: .5;
      height: 8em;
      width: 13em;
      float: none;
      display: inline-block;
      span {
        padding: 0;
        margin: 0;
        line-height: 8;
        display: inline-block;
      }
    }
  }
  ul {
    @include media($desktop) {
      @include span-columns(12);
      text-align: center;
    }
  }
  ul {
    @include media($tablet) {
      @include span-columns(12);
      text-align: center;
    }
  }
}

span {
  display: table-cell;
  vertical-align: middle;
  // The line height adds some space between lines of text
  line-height: 1.5;
  font-size: 1em;
  padding: 10px;
}

.headings ul li{
  // background-color: red;
  pre{

  }
}

