@include box-sizing(border-box);

//-Sectioning Elements-----------------

body {
  background: $white;
  font-size: 1em;
}

header {
  width: 100%;
  background: $white;
  @include media($desktop) {
    background: $grey;
    height: 6.5em;
    h1{
      color: $white;
      display: inline-block;
      text-align: left;
      line-height: 2.2;
      font-size: 3em;
      @include span-columns(4);
      @include shift(1);
      padding-left: 30px;
    }
  }
  @include media($tablet) {
    color: $grey;
    h1{
      text-align: center;
    }
  }
}

nav {
  width: 100%;
  background: $grey;
  text-align: center;
  font-weight: 100;
  // letter-spacing: 1px;
  a {
    font-family: Oswald;
    color: $white;
    text-transform: uppercase;
    margin: 0 5px;
    padding: .2em;
    line-height: 2;
    &:hover {
      color: #888;
    }
  }
  @include media($desktop) {
    @include span-columns(4);
    @include shift(2);
    color: $grey;
    height: 6.5em;
    text-align: right;
    padding-right: 30px;
    a{
      font-size: 1.3em;
      line-height: 4;
      color: $white;
      padding: 0 .5em;
    }
  }
}

footer {
  background: $grey;
  font-size: 1em;
  line-height: 2;
  text-align: center;
  font-family: Oswald;
  text-transform: uppercase;
  a {
    color: $white;
    }
}
//-------------------------------



//-Typography--------------------

.titles{
  font-family: Oswald;
  text-transform: uppercase;
}

h1 {
  @extend .titles;
  text-align: center;
  color: $grey;
  font-size: 3em;
  line-height: 1.5;
  a{
    color: $grey;
    @include media($desktop) {
    color: $white;;
  }
  }
}

h2 {
  @extend .titles;
  font-size: 1.5em;
  // background-color: #888 ;
  color: $grey;
  border-top: .125em solid $grey;
  border-bottom: .125em solid $grey;
  padding-left: .5em;
  line-height: 1.5em;
  // text-align: center;
  @include media($desktop) {
    border: 0;
  }
  @include media($tablet) {
    border: 0;
  }
}

h3{
  @extend .titles;
  font-size: 1em;
  margin: 1em 0 0 0;
}

p{
  font-family: courier;

  margin-top: 1em;
}

a {
  text-decoration: none;
}

//-------------------------------


.swatch ul{
  text-align: center;
  margin: 0;
  padding-top: 1.5em;
}


.swatch{
  li{
    // border-radius: 100%;
    height: 8.5em;
    width: 8.5em;
    padding-top: 2em;
    text-align: center;
    font-family: Courier;
    border: 1px #F0F0F0 solid;
    display: inline-block;
    margin: .3em;

    @include media($desktop) {
      //@include span-columns(6);
      border-radius: 0;
      margin: .5em;
      height: 8em;
      width: 13em;
      float: none;
      display: inline-block;
      padding-top: 0;
      span {
        padding: 0;
        margin: 0;
        line-height: 8;
        display: inline-block;
      }
    }
    @include media($tablet) {
      //@include span-columns(6);
      border-radius: 0;
      margin: .5em;
      height: 8em;
      width: 13em;
      float: none;
      display: inline-block;
      padding-top: 0;
      span {
        padding: 0;
        margin: 0;
        line-height: 8;
        display: inline-block;
      }
    }
  }
  ul {
    @include media($desktop) {
      @include span-columns(12);
      text-align: center;
    }
  }
  ul {
    @include media($tablet) {
      @include span-columns(12);
      text-align: center;
    }
  }
}

span {
  display: table-cell;
  vertical-align: middle;
  // The line height adds some space between lines of text
  line-height: 1.5;
  font-size: 1em;
  padding: 10px;
}

.headings ul li{
  // background-color: red;
  pre{

  }
}

