pre{
  margin: 2em 0;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  code{
    background-color: #f8f8f8;
    font-family: courier;
    color: #606060;
    padding: 1em 3em;
    border: 1px #e0e0e0 solid;
    display: block;
    line-height: 1.2;
    font-weight: normal;
    font-style: normal;
    @include media($desktop){
      text-align: left;
    }
    @include media($tablet){
      text-align: left;
    }
  }
}

.weights code{
  text-align: left;
}
