@for $i from 1 through length($swatchColors) {
  .swatch li:nth-child(#{$i}) {
    background-color: nth($swatchColors, $i);
    @if nth($swatchColors, $i) == $white or nth($swatchColors, $i) == $cream{
      color: $grey;
    }
    @else{
      color: $white;
    }
  }
}


// @each $color in $swatchNames{
//   .#{$color} {
//     font-family: helvetica;
//     background-color: unquote("$"+(#{$color}));
//   }
// }
