*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.page-wrap {
  max-width: 90%;
  margin: auto;
}

header,
footer {
  width: 100%;
  display: block;
}

h1 {
  width: 40%;
  font: 3em/1.5 helvetica;
  text-align: left;
  color: $grey;
  padding: 0 0 0 .3em;
  text-transform:uppercase;
  display: inline-block;
  vertical-align: top;
}

nav {
  width: 60%;
  padding: 0.5em;
  display: inline-block;
  line-height: 2em;
  text-align: right;
  vertical-align: top;
  a{
        font-family: helvetica;
        color: $grey;
        font-size: 0.8em;
        text-transform:uppercase;
        text-decoration: none;
      }
      a:hover{
        color: $navHover;
  }
}

a {
  display: inline-block;
  padding: 0 1em;
}

footer {
  line-height: 3em;
  font-size: .8em;
  background-color: $grey;
  color: $white;
  font-family: helvetica;
  text-align: center;
  text-transform:uppercase;
}
