header {
  width: 100%;
  position: fixed;
}

footer {
  width: 100%;
}

#home {
  height: 100%;
  min-height: 100%;
}

#logo {
  height: 100%;
  min-height: 100%;
}

#color {
  height: 100%;
  min-height: 100%;
}

#typography {
  height: 100%;
  min-height: 100%;
}

.logo {}
