// REVIEW
*, *:before, *:after {
  @include box-sizing(border-box);
}

body {

}

// Neat MAY remove neat for page wrap
.page-wrap {
  @include outer-container;
  max-width: 90%;
  padding-top: 3em;
}

header,
footer {
  width: 100%;
  display: block;
}

header {
  background: silver;
  position: fixed;
}

nav {
  width: 60%;
  //padding: 0.5em;
  display: inline-block;
  line-height: 2em;
  text-align: right;
  //vertical-align: top;
  // Testing Neat
  background: red;

}

section{
  margin: 0 auto;
  width: 100%;

  &:last-of-type {
  background-color: red;
  margin-bottom: 1em;
  }
}

.swatch ul{
  text-align: center;
}
