header {
  width: 100%;
  position: fixed;
}

.page-wrapper{
  @include outer-container;
}

// Navigation

#nav-id{
  height: 100%;
  min-height: 100%;
  padding-top: 6.5em;
  clear: both;
}

#home {
  @extend #nav-id;
}

#logo {
  @extend #nav-id;
}

#color {
  @extend #nav-id;
}

#typography {
  @extend #nav-id;
}


// Logo
.white-logo{
    background-color: #ccc;
}

figure{
  @include media($desktop){
    @include span-columns(3);
  }
  @include media($tablet){
    @include span-columns(4);
  }
}

img{
  width: 100%;
  height: auto;
}

footer {
  width: 100%;
}
