// Base Color Pallete
$darkblue     :    #0A466D;
$lightblue    :    #0E819B;
$darkred      :    #591710;
$lightred     :    #b02220;
$cream        :    #f8ebc9;
$white        :    #ffffff;
$brown        :    #3c3231;
$charcoal     :    #1c1717;
$navHover     :    #669999;
$grey          :   #333333;

$font-body: 'helvetica';
$font-rapture: 'Rapture';

