//NOTE: TEAM NOTE STYLEGUIDE VARIABLES ARE BELOW THE BIOSHOCK  VARIABLES

// Bioshock Base Color Pallete
$dark-blue              :     #0A466D;
$light-blue             :     #0E819B;
$dark-red               :     #591710;
$light-red              :     #b02220;
$cream                  :     #f8ebc9;
$white                  :     #ffffff;
$brown                  :     #3c3231;
$charcoal               :     #1c1717;
$nav-hover              :     #669999;
$grey                   :     #333333;

// Font Color Pallete from Bioshock site

$color-font-footer      :     #b9b29f;
$color-font-button      :     #d8d6d0;
$color-font-tweet-link  :     #b31a00;
$color-font-primary     :     #383735;
$color-font-nav-links   :     #e5e5e5;
$color-font-txt-shadow  :     #1c1713;
$color-font-mast        :     #e3dac6;

//Fonts (From home page of Bioshock Infinate)

$font-primary: Helvetica, Arial, sans-serif;
$font-secondary: sans-serif;
$font-links-nav: 'Domine';
$font-blog-heading: 'Open Sans';

//End Bioshock Fonts and Colors;

//Begin Team Node Style Guide variables

$font-body: 'helvetica';

//lists
$swatchColors: $dark-blue, $light-blue, $dark-red, $light-red, $cream, $white, $brown, $charcoal ;

$swatchNames: dark-blue, light-blue, dark-red, light-red, cream, white, brown, charcoal;

// Media Queries

$mobile-size:em(320);
$tablet-size:720px;
$desktop-size:em(960);
$largedesktop-size:em(1050);

// Bourbon Neat Breakpoints
$mobile: new-breakpoint(min-width $mobile-size 4);
$tablet: new-breakpoint(min-width $tablet-size 8);
$desktop: new-breakpoint(min-width $desktop-size 12);
$largedesktop: new-breakpoint(min-width $largedesktop-size 16);
