extends layout

block content
  h2 Brand Colors
  h3 Main Colors

  .swatch
    ul
      li $darkblue
      li $lightblue
      li $darkred
      li $lightred
      li $cream
      li $white
      li $brown
      li $charcoal

