extends layout

block content
  section
    h2 Brand Colors
    .swatch
      ul
        li
          p $dark-blue
          p #0A466D
        li
          p $light-blue
          p #0E819B
        li
          p $dark-red
          p #591710
        li
          p $light-red
          p #b02220
        li
          p $cream
          p #f8ebc9
        li
          p $white
          p #ffffff
        li
          p $brown
          p #3c3231
        li
          p $charcoal
          p #1c1717
