block content
  section
    h2 Brand Colors
    .swatch
      ul
        li
          span $dark-blue #0A466D
        li
          span $light-blue #0E819B
        li
          span $dark-red #591710
        li
          span $light-red #b02220
        li
          span $cream #f8ebc9
        li
          span $white #ffffff
        li
          span $brown #3c3231
        li
          span $charcoal #1c1717

