header.main
  nav
    ul
      li
        a(href='/') Home
      li
        a(href='/grid') Grid &amp; Layout
      li
        a(href='/color') Color
      li
        a(href='/typography') Typography
      li
        a(href='/logo') Logos

