header.main
  .header
    h1= title
    nav
      a(href='/') Home
      a(href='/grid') Grid &amp; Layout
      a(href='/color') Color
      a(href='/typography') Typography
      a(href='/logo') Logos

