header.main
  .header
    h1
      a(href='/')= title
    nav
      //- a(href='/') Home
      a(href='#logo' class="logoLink") Logo
      a(href='#color' class="colorLink") Color
      a(href='#typography' class="typographyLink") Typography
