<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="undefined">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5 maximum-scale=1.0 minimal-ui">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body></body>
  <header class="main">
    <div class="header">
      <h1></h1>
      <nav><a href="/">Home</a><a href="#logo">Logo</a><a href="#color">Color</a><a href="#typography">Typography</a>
      </nav>
    </div>
  </header>
  <div class="page-wrap">
    <div id="logo"></div>
    <section>
      <h2>Standard</h2>
      <div class="logo"><img src="/images/color-1c4aab2b.png"></div>
      <h2>White</h2>
      <div class="logo whiteLogo"><img src="/images/white-e44bed0d.png"></div>
      <h2>Black</h2>
      <div class="logo"><img src="images/black-7fd39aa3.png"></div>
    </section>
    <div id="color"></div>
    <section>
      <h2>Brand Colors</h2>
      <div class="swatch">
        <ul>
          <li>
            <p>$dark-blue</p>
            <p>#0A466D</p>
          </li>
          <li>
            <p>$light-blue</p>
            <p>#0E819B</p>
          </li>
          <li>
            <p>$dark-red</p>
            <p>#591710</p>
          </li>
          <li>
            <p>$light-red</p>
            <p>#b02220</p>
          </li>
          <li>
            <p>$cream</p>
            <p>#f8ebc9</p>
          </li>
          <li>
            <p>$white</p>
            <p>#ffffff</p>
          </li>
          <li>
            <p>$brown</p>
            <p>#3c3231</p>
          </li>
          <li>
            <p>$charcoal</p>
            <p>#1c1717</p>
          </li>
        </ul>
      </div>
    </section>
    <div id="typography"></div>
    <section class="fonts">
      <h2>Fonts</h2>
      <ul>
        <li class="font-primary">Body Text: Helvetica
          <pre></pre>
        </li>
        <li class="font-links-nav">Top Navigation Links: Domine
          <pre></pre>
        </li>
        <li class="font-blog-heading">Blog Headings: Open Sans Semibold
          <pre></pre>
        </li>
        <li class="time-stamp">Blog time stamp: Sans-serif bold
          <pre></pre>
        </li>
        <li class="footer">Footer text: Sans-serif regular
          <pre></pre>
        </li>
      </ul>
    </section>
    <section class="headings">
      <h2></h2>
      <ul>
        <li>Heading 1
          <pre>&lt;h1&gt;Heading 1&lt;/h1&gt;</pre>
        </li>
        <li>Heading 2
          <pre>&lt;h2&gt;Heading 1&lt;/h2&gt;</pre>
        </li>
        <li>Heading 3
          <pre>&lt;h3&gt;Heading 1&lt;/h3&gt;</pre>
        </li>
        <li>Heading 4
          <pre>&lt;h4&gt;Heading 1&lt;/h4&gt;</pre>
        </li>
        <li>Heading 5
          <pre>&lt;h5&gt;Heading 1&lt;/h5&gt;</pre>
        </li>
        <li>Heading 6
          <pre>&lt;h6&gt;Heading 1&lt;/h6&gt;</pre>
        </li>
      </ul>
    </section>
    <section class="weights">
      <h2>Font Weights</h2>
      <ul>
        <li>whatever</li>
        <li>whatever</li>
        <li>whatever</li>
      </ul>
    </section>
  </div>
  <footer><a href="https://github.com/katiekatieb/UXEBootCamp-B12.StyleGuide">Fork on Github
      <script src="//localhost:35729/livereload.js"></script></a></footer>
</html>