doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/application.css')
  body
    a(href='/') HOME
    br
    a(href='/grid') GRID & LAYOUT
    br
    a(href='/color') COLOR
    br
    a(href='/typography') TYPOGRAPHY
    br
    a(href='/logo') LOGO
    block content

    script(src='//localhost:35729/livereload.js')
