doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/application.css')
  body
  include header
  .page-wrap
    block content
  include footer

    script(src='//localhost:35729/livereload.js')
