block logo
  section
    figure.logo
      h2 Standard
      img(src= "/images/color-1c4aab2b.png")
    figure.logo.white-logo
      h2 White
      img(src= "/images/white-e44bed0d.png")
    figure.logo
      h2 Black
      img(src= "images/black-7fd39aa3.png")
