block logo
#logo
  section
    h2 Standard
    .logo
      img(src= "/images/color-1c4aab2b.png")
    h2 White
    .logo.whiteLogo
      img(src= "/images/white-e44bed0d.png")
    h2 Black
    .logo
      img(src= "images/black-7fd39aa3.png")
