block logo
  h2 Logo
  section
    figure.logo
      h3 Standard
      //-img(src= "/images/color-1c4aab2b.png")
      img(src= "/images/bio-logo.svg")
    figure.logo
      h3 White
      img(src= "/images/shock.svg")
    figure.logo
      h3 Black
      img(src= "images/bio-logo.svg")
