block logo
  h2 Logo
  section
    figure.logo
      h3 Standard
      img(src= "/images/color-1c4aab2b.png")
    figure.logo
      h3 White
      .white-logo
        img(src= "/images/white-e44bed0d.png")
    figure.logo
      h3 Black
      img(src= "images/black-7fd39aa3.png")
