extends layout

block content
 #type
  section
    h2 Typography
    ul
      li Body Text: Helvetica
      li Top Navigation Links: Domine
      li Blog Headings: Open Sans Semibold
      li Blog time stamp: Sans serif bold
      li Footer text: Sans serif regular
